swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "MAXAR API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "eagarin@terrabit.co.th"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "sandbox.terrabit.co.th"
basePath: "/v1"
tags:
- name: "user"
  description: "User Authentication"
- name: "case"
  description: "Case Infomation"
- name: "caselookup"
  description: "Lookup Data for Case Infomation"
- name: "customer"
  description: "Customer Infomation"  
schemes:
- "https"
paths:
  /user/login:
    get:
      tags:
      - "user"
      summary: "User Login"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /user/logout:
    get:
      tags:
      - "user"
      summary: "User Logout"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /user/changepassword:
    post:
      tags:
      - "user"
      summary: "User Logout"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /case/todo/:
     get:
      tags:
      - "case"
      summary: "List of Case by workflow"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:  
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  code:
                    type: integer  
                  sendDate:
                    type: string
                  contactDate:
                    type: string
                  customer: 
                    type: object
                    properties:
                      name: 
                        type: string
                      surname:
                        type: string
                  caseType:
                    type: string
                  caseTopic:
                    type: string
                  caseDetail:
                    type: string  
                  caseRequest:
                    type: string  
                  serviceType:
                    type: string
                  businessUnit:
                    type: string
                  location:
                    type: string
                  description:
                    type: string
                  solution:
                    type: string
                  remark:
                    type: string
                  priority:
                    type: string
                  caseStatus:
                    type: string
                  overdueAccepted:
                    type: boolean
                  overdueClosed:
                    type: boolean
                  caseFeature:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                        required:
                          type: boolean
                        
                    
      responses:
        "200":
          description: "OK"
  /case:
     get:
      tags:
      - "case"
      summary: "retrieve case list by criteria"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
     post:
      tags:
      - "case"
      summary: "add new case"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /case/{caseId}:
    get:
      tags:
      - "case"
      summary: "retrieve case detail by case id"
      parameters:
      - name: "caseId"
        in: "path"
        description: "Case ID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
    put:
      tags:
      - "case"
      summary: "edit case"
      parameters:
      - name: "caseId"
        in: "path"
        description: "Case ID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /case/{caseId}/activity:
     post:
      tags:
      - "case"
      summary: "add new activity"
      parameters:
      - name: "caseId"
        in: "path"
        description: "Case ID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /case/lookup/casetype:
     get:
      tags:
      - "caselookup"
      summary: "List of casetypes"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
  /case/lookup/casetopic/{caseTypeId}:
     get:
      tags:
      - "caselookup"
      summary: "List of Case Topics"
      parameters:
      - name: "caseTypeId"
        in: "path"
        description: "Case Type ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
  /case/lookup/casedetail/{caseTopicId}:
     get:
      tags:
      - "caselookup"
      summary: "List of Case Details"
      parameters:
      - name: "caseTopicId"
        in: "path"
        description: "Case Topic ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
              caseFeatureFormId:
                type: integer
              caseStatusCategoryId:
                type: integer
              defaultPriority:
                type: string
              slaCloseCaseLow:
                type: number
              slaCloseCaseMedium:
                type: number
              slaCloseCaseHigh:
                type: number
              slaCloseCaseImmediate:
                type: number  
              slaAcceptCaseLow:
                type: number
              slaAcceptCaseMedium:
                type: number
              slaAcceptCaseHigh:
                type: number  
              slaAcceptCaseImmediate:
                type: number 
  /case/lookup/caserequest/{caseDetailId}:
     get:
      tags:
      - "caselookup"
      summary: 'List of "Reason of Request"'
      parameters:
      - name: "caseDetailId"
        in: "path"
        description: "Case Detail ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
  /case/lookup/servicetype:
     get:
      tags:
      - "caselookup"
      summary: "List of Service Types"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
  /case/lookup/businessunit/{serviceTypeId}:
     get:
      tags:
      - "caselookup"
      summary: "List of Business Unit"
      parameters:
      - name: "serviceTypeId"
        in: "path"
        description: "Service Type ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
  /case/lookup/location/{businessUnitId}:
     get:
      tags:
      - "caselookup"
      summary: "List of Locations"
      parameters:
      - name: "businessUnitId"
        in: "path"
        description: "Business Unit ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              nameEn:
                type: string
  /case/lookup/relationship:
     get:
      tags:
      - "caselookup"
      summary: "List of Relationship"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
  /case/lookup/channel:
     get:
      tags:
      - "caselookup"
      summary: "List of Channels"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string  
              shortName:
                type: string 
              type:
                type: string 
  /case/lookup/casestatus/{caseStatudsCategoryId}:
     get:
      tags:
      - "caselookup"
      summary: "List of Inital Case Status"
      parameters:
      - name: "caseStatusCategoryId"
        in: "path"
        description: "Case Status Category ID"
        required: true
        type: "integer"
        format: "int64"      
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string  
              reminder:
                type: boolean 
              type:
                type: string           
  /case/lookup/casestatus/{caseStatusCategoryId}/{currentCaseStatusId}:
     get:
      tags:
      - "caselookup"
      summary: "List of Inital Case Status"
      parameters:
      - name: "caseStatusCategoryId"
        in: "path"
        description: "Case Status Category ID"
        required: true
        type: "integer"
        format: "int64"           
      - name: "currentCaseStatusId"
        in: "path"
        description: "Current Case Status"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string  
              reminder:
                type: boolean 
              type:
                type: string             
  /case/lookup/activitytype:
    get:
      tags:
      - "caselookup"
      summary: "List of Activity Type"
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              id:
                type: integer
              code:
                type: string  
              name:
                type: boolean 
              taskDelegate:
                type: boolean            
  /customer:
    get:
      tags:
      - "customer"
      summary: "List of Customer"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
    post:
      tags:
      - "customer"
      summary: "Add new Customer"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"
  /customer{customerId}:
    put:
      tags:
      - "customer"
      summary: "Edit Customer"
      parameters:
      - name: "customerId"
        in: "path"
        description: "Current Case Status"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "OK"